[submodule "Dependencies/glbinding"]
	path = Dependencies/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/playmer/SDL-1.git
[submodule "Dependencies/freetype2"]
	path = Dependencies/freetype2
	url = https://github.com/freetype/freetype.git
[submodule "Dependencies/nativefiledialog/repo"]
	path = Dependencies/nativefiledialog/repo
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "Dependencies/ImGuiSource"]
	path = Dependencies/ImGuiSource
	url = https://github.com/playmer/imgui.git
[submodule "Dependencies/ImGuizmo"]
	path = Dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Dependencies/DirectX-Headers"]
	path = Dependencies/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Dependencies/vk-bootstrap"]
	path = Dependencies/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Dependencies/VulkanMemoryAllocator"]
	path = Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
